@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: rgb(161 161 170);
  --secondary-color: #D4B996FF;
}

body {
  background-color: var(--primary-color);
  margin-left: 150px;
  margin-right: 150px;
}

html {
  font-size: 75.5%;
}